body {
    background-image: url(imagenes/img-fondo.png);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

h1 {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-size: 78px;
    font-style: normal;
    color: aliceblue;
    margin-bottom: 40px;
}

h3 {
    font-size: 23px;
    font-family: "Raleway", sans-serif;
    color: aliceblue;
    margin-bottom: 40px;
}

a {
    font-family: "Prompt", sans-serif;
    font-size: 26px;
    color: #e6f2ff; 
    text-decoration: none;
}
