body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: Jost, sans-serif;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px; 
}

.adivinar1 img {
    width: 500px;
    height: auto; 
}

.ManzanaCorrecto{
    width: 450px;
    height: auto;
}





